head,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    background-color: rgb(253 236 220);
    height: 7vw;
    padding: 0%;
    border: 0;
    margin-top: 0%;
}

header img {
    height: 7vw;
    padding: 0%;
    cursor: pointer;
}

header img:hover {
    height: 7vw;
    padding: 0%;
    cursor: pointer;
}

#img_logo_section {
    min-width: 30px;
    width: 4vmax;
    padding: 1vmax;
}


.main_button:hover {
    background-color: rgb(196 61 20);
    cursor: pointer;
}

nav {
    background-color: rgb(245 133 73);
    border-top: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: max-content;
}

nav li a:hover {
    background-color: rgb(245 76 25);
    transform: scale(20%);
    translate: (2s);
}

ul {
    float: right;
    padding: 13px;
    border-top: 0;
    list-style-type: none;
    margin: 0;
}

li {
    float: left;
}

li a {
    border-radius: 2vmax / 3vmax;
    margin-left: 5vmax;
    margin-right: 0.01vmax;
    padding-left: 0.5vmax;
    padding-right: 0.5vmax;
    text-align: center;
    padding-top: 0%;
    color: aliceblue;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 2.0vh;
}

.menu {
    display: none;
    margin-left: 3vmax;
    padding-left: 2vmax;
    padding-top: 1.1%;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 15px;
    float: right;
}

#access_button_th {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: right;
    padding-right: 1%;
    width: 100%;
}

.main_button {
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    width: 15%;
    height: 8vmin;
    max-height: fit-content;
    min-width: 80px;
    min-height: 25px;
    border-radius: 10px;
    font-size: 1.3vmax;
    border-style: hidden;
    background-color: rgb(242 93 13);
    padding: 0.4vw;
}

section p {
    text-align: center;
    color: aliceblue;
    min-height: 40px;
    font-size: 3vmax;
    margin-top: 0vmax;
    margin-bottom: 1vmax;
    padding: 1.2vw;
    padding-bottom: 2vw;
}

section {
    display: flex;
    background-color: rgb(255, 89, 0);
    align-items: center;
    justify-content: center;
}

section img {
    width: 3.7vmax;
    margin-bottom: 30px;
}

#buscar_div {
    width: 60%;
    position: relative;
    top: -4vmax;
    left: 30%;
    right: 30%;
    transform: translate(-50%, 50%);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255 255 255);
    border-radius: 2vw / 2vw;
    padding: 1vw;
}


#buscar_div form input {
    border-style: hidden;
    border: 0cap;
    width: 100%;
}


#search_bar {
    width: 70vw;
}

#buscar_div img {
    margin-left: 1vw;
    margin-right: 0px;
    width: 20px;
    float: right;
}

body {
    background-color: rgb(242 166 90);
    margin: 0;
    padding: 0;
}

aside {
    background-color: white;
    width: 17.5vw;
    margin-left: 3vw;
    padding: 1v1;
    border-radius: 1.5vh;
    height: max-content;
    margin-right: 3vw;
    margin-top: 2.5vw;

}

aside p {
    margin-top: 1vw;
    margin-left: 0.5vw;
    padding-top: 0vw;
    font-size: 1vw;


}

.aside_titulo {
    font-size: 1.3vmax;
    font-weight: bolder;
}

.radio_aside {
    margin-left: 2vw;
    display: flex;
    accent-color: rgb(242 166 90);
}

.radio_aside_p {
    margin: 0%;
    padding: 0%;
    margin-left: 0.5vw;
    margin-top: 0.3vw;
    font-size: 1vmax;
}

.div_aside {
    display: flex;
    align-items: center;
    align-content: center;
}

.range_aside {
    margin-left: 0.5vw;
    accent-color: rgb(242 166 90);
    width: 16vw;
}

@media (max-width: 947px) {
    li a {
        margin-left: 0.01%;
        font-size: 2.4vmin;
    }

    header p {
        height: 30%;
        padding-left: 3vmax;
        padding-right: 3vmax;
    }
}

@media(max-width: 677px) {
    li a {
        display: none;
    }

    .menu {
        display: block;
    }

    header img {
        height: 7vmax;
    }

    header {
        height: 7vmax;
    }

    header p {
        height: 35%;
    }

    aside{
        display: flex;
        width: 95%;
    }
    .conte_div{
        margin-left: 4vw;
    }
}


.main_div {
    margin-top: 0;
    background-color: rgb(253 236 220);
    background-image: url(resources/output-onlinepngtools.png);
    background-repeat:  repeat;
    background-attachment: local;
    background-size: 35%;
    

    width: 90%;
    padding-bottom: 2vh;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.main_div2 {
    margin-top: 0;
   
    

    width: 90%;
    padding-bottom: 2vh;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
}


.main_div_perros {
    display: flex;
    margin-top: 0;
    background-color: rgb(253 236 220);
    width: 90%;
    height: fit-content;
    padding-bottom: 2vh;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-content: flex-start;

}

.flexer {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 0.5vw;
}

.flexer h6 {
    margin: 0%;
    font-size: 1vw;
    font-weight: normal;
    margin-top: 0.18vw;
    margin-left: 0.5vw;
}

.flexer h2 {
    font-weight: 500;
    font-size: 1.3vw;
}

.perso {
    float: right;
    display: block;
    width: 7.7vw;
    margin-right: 2.5vw;
}

.perso h2 {
    margin: 0%;
    float: right;
    padding: 0%;
    margin-left: 5vw;
    font-weight: 500;
    font-size: 1.3vw;
}

.perso li {
    font-size: 1vw;
    font-weight: normal;
}

#div_perro {
    background-color: white;
    margin-top: 2.5vw;
    padding-top: 0%;
    width: fit-content;
    border-radius: 8px;
    height: fit-content;
    margin-left: 2vw;

}

#div_perro img {
    margin: 1vw;
    width: 25vw;
    height: 17.9vw;
    object-fit: cover;
    border-radius: 4px;
    transition: 1.5s;
}

#div_perro img:hover {
    transform: scale(1.1);
    
}

#div_perro h1,
h2 {
    margin-left: 1vw;
    margin-top: 0;
    margin-bottom: 0%;
    font-size: 2.5vw;
}



#div_perro hr {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0%;
    margin-bottom: 1vw;
    color: rgb(190 189 203);
    height: 1px;
    border-width: 0cap;
    background-color: rgb(190 189 203);
}


.sub_div {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.5%;
    height: 40vh;
    border-radius: 2vh;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.sub_div_adaptative {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.5%;
    overflow: scroll;
    border-radius: 2vh;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.module {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('resources/landing_kittens.jpg');
    background-size: cover;
    background-position: vmax;
    align-items: center;
    border-radius: 1vh;
    width: 97%;
    height: 90%;
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
}

.mid h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    font-size: 3.3vmax;
    transform: translate(-50%, -50%);
}

.big_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: rgb(242 93 13);
    ;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 3.3vmax;
    background-color: rgb(253 236 220);
}

.cropped_image {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.adaptative_image {
    min-width: 50px;
}

.adoption-card {
    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2%;
    text-align: center;
}

.highlight {
    color: #e87c4a;
    font-weight: bold;
}

.details,
.traits {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}

.attribute {
    padding: 5px 10px;
    border-radius: 5px;
    background: #f1c7a5;
    color: #000000;
}

.contact_owner {
    padding: 5px 10px;
    border-radius: 5px;
    background: #4caf50;
    color: #ffffff;
    transition: 0.5s;
}

.contact_owner:hover {
    transform: scale(1.02);
    background: #256427;
}

.personality {
    padding: 5px 10px;
    border-radius: 5px;
    background: #F58549;
    color: #FDECDC;
}



.location {
    padding: 5px 10px;
    border-radius: 5px;
    background: #81c784;
    color: white;
}

.adopt-btn {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    height: 15vh;
    font-size: 3vmax;
    background: #ff7043;
    font-weight: bold;
    transition: 0.5s;
}

.adopt-btn:hover {
    background: #af5227;
    transform: scale(1.01);

}

.description {
    border-radius: 4px;
    padding: 2vmin;
    background-color: #f0e4db;
    margin: 1%;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
}

hBig {
    font-size: 3vmax;
}

.description h3 {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .adoption-card {
        flex-direction: row;
        max-width: 100%;
    }

    .image-container {
        flex: 1;
    }

    .info-container {
        flex: 2;
        padding-left: 20px;
    }
}

float_left {
    margin-right: 0;
    padding-right: 14%;
    display: flex;
}

#pet_container_table td {
    border-style: solid;
    width: 50%;
}

.text_align_to_left,
.text_align_to_left h2 {
    text-transform: none;

    text-align: left;
}

turn_black {
    color: rgb(0, 0, 0);
}

turn_orange {
    text-transform: none;
    color: rgb(226, 109, 42);
}

.auto_margin {
    margin-left: auto;
    margin-right: auto;
    width:  fit-content;
    text-align: center;
}

#bottom_buttons{
    background-color: rgb(253 236 220);
}

#bottom_buttons .main_button {
    width: 10vw;
    transition: 0.4s;
    min-height: 160px;
    min-width: 100%;
    max-height: 100%;
    height: 22vh;
    ;
}

#bottom_buttons .main_button:hover {
    transform: scale(1.03);
    

}


.pet_image {
    border-radius: 10px;
    width: 10022px;
}

#bottom_buttons table,
th {
    padding: 0.4vh
}

#bottom_buttons table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

#bottom_buttons .main_button p {
    font-size: 3vh;
}

#bottom_buttons .main_button img {
    height: 5vmax;
    width: 5vmax;
}


#bottom_buttons #whyAdopt {
    width: 100%;
    padding: 10vmin;
    font-size: 3vh;
    background-color: #8E4F94;
}