header{
    background-color: rgb(253 236 220);
    height: 7vw;
    padding: 0%;
    border: 0;
}

header img{
    height: 7vw;
    padding: 0%;
}

header p{
    float: right;
    background-color: rgb(245 76 25);
    color: aliceblue;
    border: 0;
    border-radius: 17% / 40%;
    text-align: center;
    margin-top: 3%;
    margin-right: 2%;
    padding: 0.6%;
    padding-left: 2.3%;
    padding-right: 2.3%;
    border: solid rgb(196 61 20) ;
}