header{
    background-color: rgb(253 236 220);
    height: 7vw;
    padding: 0%;
    border: 0;
}

header img{
    height: 7vw;
    padding: 0%;
    cursor: pointer;
}

header p{
    float: right;
    background-color: rgb(245 76 25);
    color: aliceblue;
    border: 0;
    border-radius: 3vw / 3.5vw;
    text-align: center;
    margin-top: 2%;
    margin-right: 2%;
    padding: 4px;
    margin-bottom: 1.002%;
    padding-left: 3vmax;
       padding-right: 3vmax;
    display: flex;
    align-items: center;
    border: solid rgb(196 61 20) ;
    user-select: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30%;
    font-size: 2.5vmin;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

header p:hover{
    background-color: rgb(196 61 20);
    
}

nav{
    background-color: rgb(245 133 73);
    border-top: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: max-content;
   
}

ul{
    float: right;
    padding: 13px;
    border-top: 0;
    list-style-type: none;
    margin: 0;
}

li{
   float: left;
}

li a{
    margin-left:3vmax;
    padding-left: 2vmax;
    padding-right: 0.01vmax;
    padding-top: 0%;
    color: aliceblue;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 2.6vmin;
}

.menu{
    display: none;
    margin-left:3vmax;
    padding-left: 2vmax;
    padding-top: 1.1%;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 15px;
    float: right;
}

section p{
    text-align: center;
    color: aliceblue;
    font-size: 3vmax;
    margin-top: 0vmax;
    margin-bottom: 1vmax;
    background-color: rgb(242 93 13);
    padding: 1.2vw;
}


 @media (max-width:   947px){
    li a{
        margin-left: 0.01%;
        font-size: 2.4vmin;
      }
      header p{
       height: 30%;
       padding-left: 3vmax;
       padding-right: 3vmax;
      }
  }

  @media(max-width:   677px){
    li a{
        display: none;
    }
    .menu{
        display: block;
    }
    header img{
        height: 7vmax;
    }
    header{
        height: 7vmax;
    }
    header p{
        
        height: 35%;
        
    }
  }